<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mt-3 pt-3">
      <a class="navbar-brand fs-1" href="#">🖼</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="text-dark fs-5 text-decoration-none" href="/">Show Gallery</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <a href="/add"class="logo fs-2 text-decoration-none"> ➕</a>
        </form>
      </div>
    </div>
  </nav>